@charset "UTF-8";
/* CSS Document */
@font-face {
	font-family: helvetica;
	src: url('font/HelveticaNeue-Thin.otf');
}
body
{
	background-color:#202020;
	color:#a7a1a1;
	font-family:helvetica, serif;
	margin: 0;
	height:480px;
	width:800px;
}

h1, h2
{
	color:#CCC;
	font-weight:100;
	margin-left: 3%;
}

h3
{
	color:#CCC;
	font-weight:100;
	margin-left: 3%;
	margin-top: 0;
}

table
{
	font-size: 30px;

}

button
{
	height: 80px;
	width: 100px;
	background-color: #202020;
	display:inline-block;
	border:1px solid #CCC;
	border-radius:5px;
	color:#CCC;
	font-size:16px;
	margin-top:10px;
	font-weight:100;

}

button:hover
{
	background-color: white;
	color: #202020;
}

.table_data_cell
{
	text-align: center;
	padding-left:40px;
}


.sbs_holder
{
	width: 100%;
	height:95%;
	overflow: hidden;
}

.title_div
{
	width: 100%;
	height: 11%;
	background-color: #5a0707;
	margin-top:-2%	
}

.left_cell_div
{
	width: 72%;
	float: left;
	margin-left: 2%;
	border-right:2px #CCC solid;

}

.right_cell_div
{
	width: 18%;
	margin-left: 81%;
	margin-top:2.5%;

}
